* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(5, 5, 5);
  }
  .parent {
    height: 500px;
    width: 300px;
    border-radius: 50px;
    background-color: white;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
  }
  
  .child {
    height: 250px;
    border-radius: 50px 50px 0 50px;
    background-color: gray;
    position: relative;
  }
  
  .child::before,
  .child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    width: 100px;
    height: 100px;
    background: gray;
  }
  
  .child::after {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background: white;
  }